.left {
    background-color: rgb(233, 243, 239);
    flex: 1;
    width: 70%;
}

.right {
    /* background-color: rgb(247, 248, 253); */
    flex: 0 0 200px;
}

.card {
    width: 55%;
    margin: 10px;
    align-items: flex-end;
    color: black;
}

.card h3 {
    font-weight: bold;
    color: black;
}

h3 a {
    color: black;
}

a:link {
    text-decoration: none;
}

h3 a:hover {
    text-decoration: underline;
    color: gray;
}

.cardRight {
    margin-left: 5px;
    margin: 30px;
    padding: 10px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    width: 100%;
    min-height: 200px;
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    /* Set a small width */
}
